
body{
    background-image: url(images/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins';
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h1, h2, h3, h4
h5, h6 {
    font-family: 'Montserrat';
    color: rgba(0, 0, 0, 0.8);

}

section{
    animation: button 3s ease-in-out;
}

@keyframes button{
    0%{transform: translateX(-50px)}
    50%{transform: translateX(50px)}
}

.toDo{
    width: 300px;
    border: 2px solid gray;
    justify-content: center;
    margin: 5px;
    border-radius: 10px 0px 10px 0px;
}

#addTask{
    margin: 5px;
}

#addBtn{
    margin: 5px;
}

#addList{
    background-color: rgb(247, 247, 136);
    width: 230px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.container{
    width: 230px;
    height: 200px;
    border: 2px solid black;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    border-radius: 0px 40px 0px 40px;
}

.container #currTime{
    font-size: 25px;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: auto;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px black;
    background-color: #3f6212;
    font-size: 30px;
}

.buttons button{
    justify-content: center;
    margin: auto;
    animation: btn 6s ease-in infinite;
    background-color: white;
}

@keyframes btn{
    0%{background-color: red;}
    25%{background-color: blue;}
    50%{background-color: greenyellow;}
    75%{background-color: purple;}
    100%{background-color: yellow;}
}

#weather{
    color: whitesmoke;
    font-size: 20px;
}

#weather input{
    border-radius: 10px;
}

#weather button{
    border-radius: 5px;
}